<h3 class='title'><%= "#{@user.name || @user.email}'s list of Tasks."%></h3>

<div class='jumbotron'>
  <div class='row'>
    <div class='col-md-4 pull-left'>
      <h4>Rules of Blocitoff</h4>
      <ul>
        <li>Create as many Todo Items you want</li>
        <li>You can complete the item and mark completed!</li>
        <li>You have 7 days before it gets listed as Unimportant!!</li>
        <li>Item will be deleted automatically after 7 days.</li>
      </ul>
    </div>
  </div>
</div>

  <div class='row'>
    <div id="items" class='items list-group col-md-8 pull-left'>
      <%= render @items %>
    </div>
  </div>

<div class='col-md-6'>
  <%= render partial: 'items/form', locals: {user: @user} %>
</div>
