<div class='jumbotron pull-left'>
  <h2>Welcome to Blocitoff!</h2>
  <h3>This Todo List App is to help you get things done.</h3>
  <p><%= link_to "Sign in", new_user_session_path %> - <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
</div>
<div class='app-info pull-left col-md-4'>
  <span class='glyphicon glyphicon-list pull-left' aris-hidden='true'></span><p>Sign up and add items to your list.</p>
  <span class='glyphicon glyphicon-time pull-left' aris-hidden='true'></span><p>You've got 7 days to complete an item, so get moving.</p>
</div>
